* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAQElEQVQYV2NkgIJrcdf+g5hai7QYb7bd/A8m1KvUGUESMEEQnxGkCqaaWYOZASQI1gGTAKkGsWEmgI1ANhumAwCLJS2rb2RY+AAAAABJRU5ErkJggg==);
}

.content {
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .box {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .box {
    width: 100%;
  }

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .box-1 {
    width: 15%;
  }

  .box-2 {
    width: 20%;
  }

  .box-3 {
    width: 20%;
  }

  .box-4 {
    width: 20%;
  }

  .box-5 {
    width: 15%;
  }

}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .box-1 {
    width: 15%;
  }

  .box-2 {
    width: 20%;
  }

  .box-3 {
    width: 20%;
  }

  .box-4 {
    width: 20%;
  }

  .box-5 {
    width: 15%;
  }

}

